#charData {
	width: 50%;
}

#mainArea {
	width: 50%;
}

#stats {
	position:fixed;
	left:50%;
	width: 50%;
}

#notification {
	position: fixed;
	top: 50%;
	left:70%;
}

#displayArea img {
	position: fixed;
	left: 50%;
	top: 50%;
	height: 45%;
	width: 45%;
}
#stats button {
	position: fixed;
	right: 40%;
}